@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Marvel:400,400italic);
/* line 7, ../sass/partials/_base.scss */
body {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  width: 80%;
}

/* line 3, ../sass/partials/modules/_header.scss */
header {
  background-color: #494949;
  margin: 1.5em 0;
  padding: 1em;
}

/* line 9, ../sass/partials/modules/_header.scss */
.header-title {
  display: inline-block;
  width: 70%;
  padding: 2.5em 1.5em;
}

/* line 15, ../sass/partials/modules/_header.scss */
header a img {
  border: 0.3em solid #fff;
  display: inline-block;
  float: right;
  overflow: hidden;
  margin: 0.5em;
  width: 3%;
}
