@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Coda:800);
body {
  background-attachment: fixed;
  background-image: url("../img/background.svg");
  background-color: #000;
  color: #000;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%; }
  body a {
    color: #2E332D; }

header {
  background-color: rgba(26, 40, 34, 0.2);
  box-sizing: border-box;
  font-size: 1.5em;
  margin: 0;
  overflow: hidden;
  padding: 5% 5% 0;
  width: 100%; }
  header .header-title {
    font-family: "Coda";
    margin: 0;
    width: 100%; }
  header .header-icons-container {
    display: block;
    list-style: none;
    margin: 1% 0 2%;
    padding: 0 2% 0 0;
    width: 100%; }
  header .social-icon {
    display: inline-block;
    width: 40px;
    margin-right: 5%; }
    header .social-icon .social-links img {
      height: auto;
      width: 100%; }
    @media (min-width: 1024px) {
      header .social-icon {
        margin-right: 2.5%; } }

nav {
  border-top: 1px solid #2E332D;
  font-size: 1.4em;
  margin: 0;
  width: 100%; }
  nav .nav-items-container {
    height: 0;
    overflow: hidden; }
  nav ul.expanded {
    display: block;
    height: 190px;
    margin: 0 auto;
    padding: 0;
    -webkit-transition: height 1s;
    transition: height 1s; }
    nav ul.expanded .nav-main {
      background-color: #000;
      border-bottom: 1px solid #2E332D;
      list-style: none;
      margin: 0;
      padding: 1% 0 1% 5%; }
      nav ul.expanded .nav-main a {
        color: #778475;
        text-decoration: none; }
    @media (min-width: 1024px) {
      nav ul.expanded {
        display: block;
        height: auto;
        margin: 0 auto;
        padding: 0 5%; }
        nav ul.expanded .nav-main {
          background-color: transparent;
          display: inline-block;
          padding: 1% 0;
          text-align: center;
          width: 12%; }
          nav ul.expanded .nav-main:hover {
            border-bottom: none;
            background-color: rgba(109, 161, 138, 0.2); }
          nav ul.expanded .nav-main a {
            color: #2E332D; } }
  @media (min-width: 1024px) {
    nav .nav-items-container {
      display: block;
      height: 2.2em;
      margin: 0 auto;
      padding: 0 5%; }
      nav .nav-items-container .nav-main {
        background-color: transparent;
        display: inline-block;
        padding: 1% 0;
        text-align: center;
        width: 12%; }
        nav .nav-items-container .nav-main:hover {
          border-bottom: none;
          background-color: rgba(109, 161, 138, 0.2); }
        nav .nav-items-container .nav-main a {
          color: #2E332D; } }
  nav .menu-toggle {
    display: block;
    background-image: url("../img/menu-icon.png");
    background-size: cover;
    color: transparent;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px; }
    @media (min-width: 1024px) {
      nav .menu-toggle {
        display: none; } }

.posts .blog-post {
  background-color: rgba(46, 71, 60, 0.2);
  margin: 5% auto 0;
  overflow: hidden;
  width: 90%; }
  .posts .blog-post img {
    width: 100%; }
  .posts .blog-post h4 {
    font-size: 1.5em;
    margin: 2.5% auto;
    padding: 0 5%;
    width: 90%; }
  .posts .blog-post time {
    font-size: 0.8em;
    padding: 2.5% 5%;
    width: 90%; }
  .posts .blog-post p {
    font-size: 1em;
    padding: 2.5% 5%;
    width: 90%; }
  .posts .blog-post .button {
    background-color: rgba(109, 161, 138, 0.2);
    border: none;
    display: block;
    font-size: 1.2em;
    margin: 4% auto 0;
    padding: 1em 0;
    text-align: center;
    text-decoration: none;
    width: 100%; }
    .posts .blog-post .button:hover {
      background-color: rgba(171, 201, 188, 0.2);
      color: #fff; }
@media (min-width: 1024px) {
  .posts {
    display: inline-block;
    width: 68%; }
    .posts .blog-post {
      display: inline-block;
      float: left;
      margin-left: 2%;
      width: 30%; }
      .posts .blog-post button {
        padding: 0.5em 1em; } }
.posts .paginator {
  display: inline-block;
  margin: 2.5% 0 2.5% 5%;
  text-align: center;
  width: 90%; }
  .posts .paginator a {
    display: inline-block;
    width: 30%; }
  .posts .paginator p {
    display: inline-block;
    width: 20%; }

.recent-articles {
  background-color: rgba(30, 30, 30, 0.8);
  box-sizing: border-box;
  color: #fff;
  display: block;
  overflow: hidden;
  width: 100%; }
  .recent-articles h4 {
    font-size: 1.5em;
    margin: 5%;
    text-align: center; }
  .recent-articles ul {
    font-size: 0.8em;
    list-style: none;
    margin: 5%;
    padding: 0; }
    .recent-articles ul a {
      color: #00AD00; }
  .recent-articles .recent-all {
    color: #00AD00;
    display: block;
    padding-bottom: 5%;
    text-align: right;
    width: 92%; }
  @media (min-width: 1024px) {
    .recent-articles {
      display: inline-block;
      float: right;
      margin: 3.2% 3% 0 0;
      overflow: hidden;
      width: 28%; }
      .recent-articles h4 {
        font-size: 1.5em;
        margin: 1.5em 1em 0 1em; }
      .recent-articles ul li {
        display: block;
        list-style: none;
        width: 90%; }
      .recent-articles .recent-all {
        text-decoration: none;
        width: 30%;
        padding: 0;
        margin: 2.5% 0 5% 60%; }
      .recent-articles ul li a {
        display: block;
        font-size: 1.5em;
        float: left;
        margin: 0.5em 0 0 0;
        overflow: hidden;
        width: 100%; }
      .recent-articles ul li a:hover {
        color: #FFA500; }
      .recent-articles ul li time {
        display: block; } }

.main-article {
  background-color: rgba(109, 161, 138, 0.2);
  margin: 3% 0; }
  .main-article .mail {
    color: #004207;
    display: block;
    margin: 1% 5% 5%;
    width: 80%; }
  .main-article .article-container {
    display: block;
    margin: 5%;
    width: 90%; }
    .main-article .article-container .author-name {
      font-size: 2em;
      margin: 0; }
    .main-article .article-container h4 {
      font-size: 4em; }
    .main-article .article-container p {
      padding: 0.5% 5%; }
    .main-article .article-container img {
      margin: 5% 5%;
      width: 90%; }

.main-footer {
  background-color: rgba(26, 40, 34, 0.2);
  display: table;
  padding: 0;
  width: 100%; }
  .main-footer p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5%;
    width: 60%; }
  .main-footer ul {
    width: 40%;
    overflow: hidden;
    margin-left: 35%; }
  .main-footer ul li {
    float: right;
    width: 20%;
    padding: 0 10%;
    list-style: none; }
  .main-footer ul li a img {
    width: 100%; }

@media (min-width: 1024px) {
  .main-footer header ul {
    display: inline-block;
    float: right;
    overflow: hidden;
    margin: 0 auto;
    width: 20%; }
  .main-footer header ul li {
    display: inline-block;
    width: 48%; } }

/*# sourceMappingURL=main.css.map */
