body{
	background-image: url('../img/background.jpg');
	background-size: 100%;
	background-attachment: fixed;
	background-color: #000;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	a{
		color: $link-color;
	}
}