// global css code for all site 

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Marvel:400,400italic);

body{
	background-color: #000;
	color: #fff;
	margin: 0 auto;
	width: 80%;
}