// 
// variables
// 

// colors
$link-color: #B2D628;
$section-bgrd-clr: rgba(86, 133, 112, 2/10);
$recent-post-link: #00AD00;
$mail-link-color: #B2D628;
$recent-articles-color: rgba(30, 30, 30, 6/10); 
// ...