// css code for aside section

.recent-articles {
	background-color: $recent-articles-color;
	box-sizing: border-box;
	color: #fff;
	display: block;
	overflow: hidden;
	width: 100%;

	h4 {
		font-size: 1.5em;
		margin: 5%;
		text-align: center;
	}

	ul {
		font-size: 0.8em;
		list-style: none;
		margin: 5%;
		padding: 0;
		a {
			color: $recent-post-link;
		}
	}
	.recent-all {
		color: $recent-post-link;
		display: block;
		padding-bottom: 5%;
		text-align: right;
		width: 92%;
	}

	@media(min-width: 1024px){
		display: inline-block;
		float: right;
		margin: 3.2% 3% 0 0;
		overflow: hidden;
		width: 28%;

		h4{
			font-size: 1.5em;
			margin: 1.5em 1em 0 1em;
		}

		ul li{
			display: block;
			list-style: none;
			width: 90%;
		}

		.recent-all {
			text-decoration: none;
			width: 30%;
			padding: 0;
			margin: 2.5% 0 5% 60%;
		}

		ul li a{
			display: block;
			font-size: 1.5em;
			float: left;
			margin: 0.5em 0 0 0;
			overflow: hidden;
			width: 100%;
		}

		ul li a:hover{
			color: #FFA500;
		}

		ul li time{
			display: block;
		}

	}	
}


