// css code for blog section 

.posts {
	.blog-post {
		background-color: $section-bgrd-clr; //cambiar nombre de variable.
		display: block;
		margin: 5% auto 0;
		overflow: hidden;
		width: 90%;
		img {
			width: 100%;
		}
		h4 {
			font-size: 1.5em;
			margin: 2.5% auto;
			padding: 0 5%;
			width: 90%;
		}
		time {
			font-size: 0.8em;
			padding: 2.5% 5%;
			width: 90%;
		}
		p {
			font-size: 1em;
			padding: 2.5% 5%;
			width: 90%;
		}
		.button {
			background-color: lighten($section-bgrd-clr, 10%);
			border: none;
			display: block;
			font-size: 1.2em;
			margin: 4% auto 0;
			padding: 1em 0;
			text-align: center; 
			text-decoration: none;
			width: 100%;
			&:hover {
				background-color: lighten($section-bgrd-clr, 30%);
				color: #fff;
			}
		}
	}
	@media(min-width: 1024px) {
		display: inline-block;
		width: 68%;
		.blog-post {
			display: inline-block;
			float: left;
			margin-left: 2%;
			width: 30%;
			button {
				padding: 0.5em 1em;
			}
		}
	}
	.paginator {
		display: inline-block;
		margin: 5% 0 5% 5%;
		text-align: center; 
		width: 90%;
		a{
			display: inline-block;
			width: 30%;
		}
		p{
			display: inline-block;
			width: 20%;
		}
	}
}

