// css code for blog section 

.posts{

	@media(min-width: 640px){
		display: inline-block;
		float: left;
		width: 75%;

		.blog-post{
			background-color: $section-bgrd-clr;
			display: inline-block;
			float: left;
			margin: 2.5% 1.5%;
			padding: 2.5%;
			width: 25%;
		}
		
		h4{
			font-size: 1.5em
		}

		.blog-post p,img{
			overflow: hidden;
			width: 100%;
		}

		.blog-post button{
			background-color: rgba( 10,10,10, 0.5);
			border: none;
			border-radius: 1em;
			color: #FFA500;
			font-size: 1.2em;
			margin: 0 auto;
			padding: 1em 0;
			width: 70%;

		}

		.paginator{
			display: block;
			margin: 2em auto;
			overflow: hidden;
			width: 60%;
		}

		.paginator p,a{
			color: #FFA500;
			display: inline-block;
			font-size: 1.5em;
			margin: 0 auto;
			width: 20%;
		}

	}

}