// css code for blog section 

.posts{

	.blog-post{
		background-color: $section-bgrd-clr;
		display: inline-block;
		margin: 1em 2% ;
		padding: 2.5%;
		width: 40%;

		h4{
			font-size: 1.5em
		}

		p,img{
			overflow: hidden;
			width: 100%;
		}

		button{
			background-color: rgba( 10,10,10, 0.5);
			border: none;
			border-radius: 1em;
			display: block;
			color: #FFA500;
			font-size: 1.2em;
			margin: 0 auto;
			padding: 1em 0;
			width: 70%;
		}	
	}
	.paginator{
		display: inline-block;
		margin: 2em auto;
		width: 90%;
		text-align: center;
	}

	.paginator p,a{
		color: #FFA500;
		display: inline-block;
		margin: 0 auto;
		width: 20%;
	}

	@media(min-width: 768px){
		display: inline-block;
		float: left;
		width: 75%;

		.blog-post{
			background-color: $section-bgrd-clr;
			display: inline-block;
			float: left;
			margin: 2.5% 1.5%;
			padding: 2.5%;
			width: 25%;
		}
	}

}

