// css code for footer section 

.main-footer{	
	background-color: $section-bgrd-clr;
	display: table;
	padding: 2% 0;
	width: 100%;

	p{
		display: table-cell;
		vertical-align: middle;
		padding: 0 5%;
		width: 60%;
	}

	ul {
		width: 40%;
		overflow: hidden;
		margin-left: 35%;
	}

	 ul li{
		float: right;
		width: 20%;
		padding: 0 10%;
		list-style: none;
	}

	ul li a img{
		width: 100%;
	}
}

@media(min-width: 1024px){
	.main-footer{
		header ul{
			display: inline-block;
			float: right;
			overflow: hidden;
			margin: 0 auto;
			width: 20%;
			}
		header ul li {
			display: inline-block;
			width: 48%;
		}
	}

}