// css code for header section 

header{
	background-color: $section-bgrd-clr;
	font-size: 2em;
	margin: 1.5em 0;
	padding: 1em;
}

.header-title{
	display: inline-block;
	width: 65%;
	padding: 0 1.5em;
}

header a img{
	border-radius: 1em;
	display: inline-block;
	float: right;
	overflow: hidden;
	margin: 0.5em;
	padding: 0.2em;
	width: 3%;
}