// css code for nav section

nav{
	background-color: $section-bgrd-clr;
	display: block;
	
	margin: 1em 0;
	padding: 1em 0;
	width: 100%;
	
	ul .nav-main{
		display: inline-block;
		list-style: none;
		margin: 0 0;
		text-align: center;
		width: 22%;
	}

	a {
		color: #FFA500;
		font-size: 1.5em;
		margin: 0 auto;
		text-decoration: none;
	}
}

@media(min-width: 320px){

	ul .nav-main{
		display: block;
		width: 100%;
	}
}

@media(min-width: 640px){
}

@media( min-width: 1366px ){
	
	nav{
		background-color: $section-bgrd-clr;
		display: block;
		list-style: none;
		margin: 1.5em 0;
		padding: 1.5em 0;
		width: 100%;

		a {
			color: #FFA500;
			font-size: 1.5em;
			margin: 0 1em;
			text-decoration: none;
		}

		a:hover{
			border-bottom: 0.2em solid #FFA500;
		}

		ul li{
			display: inline-block;
		}
	}
	// #menu-toggle{
	// 	display: none;
	// }
}