// css code for nav section

nav {
	font-size: 1.4em;
	background-color: $section-bgrd-clr;
	margin: 0;
	width: 100%;
	.nav-items-container {
		margin: 0 auto;
		padding: 0;
		.nav-main {
			border-bottom: 1px solid $link-color; 
			list-style: none;
			margin: 0;
			padding: 2% 5%;
			width: 100%;
			a{
				color: $link-color;
				text-decoration: none;
			}
		}
	}
	@media(min-width: 1024px) {
		.nav-items-container {
			padding: 0 5%;
			.nav-main {
				display: inline-block;
				padding: 1% 0;
				text-align: center;
				width: 10%;
				&:hover{
					border-bottom: none;
					background-color: lighten($section-bgrd-clr, 10%);
				}
			}
		}
	}
}
